pipeline/pipelineMultipleFilesSheets.json
{
	"name": "pipelineMultipleFilesSheets",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata - Input Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InputFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEach Folder Level",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata - Input Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata - Input Folder').output.itemName",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data - Registration",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Sheet",
									"value": "Registration"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "AgencyID",
											"value": {
												"value": "@variables('AgencyID')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "INPUT",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FamilyCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FamilyCode",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "ChildCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ChildCode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "ChildrenStatusID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ChildrenStatusID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "RegistrationDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "RegistrationDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "Birthdate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Birthdate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FirstName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EventStatusID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EventStatusID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "AgencyID",
												"type": "String"
											},
											"sink": {
												"name": "AgencyID",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Registration",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data - FieldNotification",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data - Registration",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Sheet",
									"value": "FieldNotification"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ChildCode"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ChildCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ChildCode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "FieldNotifiedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "FieldNotifiedDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "LastName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LastName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EventStatusID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EventStatusID",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "FieldNotification",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data - Dropped",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data - FieldNotification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Sheet",
									"value": "Dropped"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ChildCode"
										]
									},
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "ChildCode",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ChildCode",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "DroppedDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DroppedDate",
												"type": "DateTime",
												"physicalType": "date"
											}
										},
										{
											"source": {
												"name": "DroppedReasonID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DroppedReasonID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "DroppedReasonSubTypeID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DroppedReasonSubTypeID",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "EventStatusID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EventStatusID",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dropped",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SheetName": {
				"type": "array",
				"defaultValue": [
					{
						"SheetName": "Registration"
					},
					{
						"SheetName": "FieldNotification"
					},
					{
						"SheetName": "Dropped"
					}
				]
			}
		},
		"variables": {
			"AgencyID": {
				"type": "String",
				"defaultValue": "6631"
			}
		},
		"annotations": []
	}
}