skbdf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "skbdf"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipelineExcel2Database')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "upsert",
								"upsertSettings": {
									"useTempDB": true,
									"keys": [
										"ChildCode"
									]
								},
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "AgencyID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AgencyID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FamilyCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FamilyCode",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "ChildCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChildCode",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ChildrenStatusID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChildrenStatusID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "RegistrationDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegistrationDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FieldNotifiedDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FieldNotifiedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "DroppedDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DroppedDate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "DroppedReasonID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DroppedReasonID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "DroppedReasonSubTypeID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DroppedReasonSubTypeID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ChildrenID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ChildrenID",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Birthdate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Birthdate",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LastName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LastName",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "yyyy-M-dd"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ExcelInput",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTableOutput",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelInput')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineMultipleFiles')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InputFolder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "AgencyID",
													"value": {
														"value": "@variables('AgencyID')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "INPUT",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FamilyCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FamilyCode",
														"type": "Int64",
														"physicalType": "bigint"
													}
												},
												{
													"source": {
														"name": "ChildCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildCode",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "ChildrenStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildrenStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "RegistrationDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "RegistrationDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "Birthdate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Birthdate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "FirstName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FirstName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EventStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EventStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "AgencyID",
														"type": "String"
													},
													"sink": {
														"name": "AgencyID",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "InputFolder",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"AgencyID": {
						"type": "String",
						"defaultValue": "6631"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputFolder')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineMultipleFilesSheets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata - Input Folder",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InputFolder",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "ForEach Folder Level",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata - Input Folder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata - Input Folder').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data - Registration",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Sheet",
											"value": "Registration"
										}
									],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"additionalColumns": [
												{
													"name": "AgencyID",
													"value": {
														"value": "@variables('AgencyID')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "INPUT",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FamilyCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FamilyCode",
														"type": "Int64",
														"physicalType": "bigint"
													}
												},
												{
													"source": {
														"name": "ChildCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildCode",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "ChildrenStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildrenStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "RegistrationDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "RegistrationDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "Birthdate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Birthdate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "FirstName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FirstName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EventStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EventStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "AgencyID",
														"type": "String"
													},
													"sink": {
														"name": "AgencyID",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Registration",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy data - FieldNotification",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data - Registration",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Sheet",
											"value": "FieldNotification"
										}
									],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "INPUT",
												"wildcardFileName": {
													"value": "@item().name\r\n",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"ChildCode"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ChildCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildCode",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "FieldNotifiedDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FieldNotifiedDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "LastName",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LastName",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "EventStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EventStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "FieldNotification",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "Copy data - Dropped",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data - FieldNotification",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Sheet",
											"value": "Dropped"
										}
									],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "INPUT",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "upsert",
											"upsertSettings": {
												"useTempDB": true,
												"keys": [
													"ChildCode"
												]
											},
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "ChildCode",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ChildCode",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "DroppedDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DroppedDate",
														"type": "DateTime",
														"physicalType": "date"
													}
												},
												{
													"source": {
														"name": "DroppedReasonID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DroppedReasonID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "DroppedReasonSubTypeID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DroppedReasonSubTypeID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "EventStatusID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "EventStatusID",
														"type": "Int32",
														"physicalType": "int"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Dropped",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureSqlTable1",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SheetName": {
						"type": "array",
						"defaultValue": [
							{
								"SheetName": "Registration"
							},
							{
								"SheetName": "FieldNotification"
							},
							{
								"SheetName": "Dropped"
							}
						]
					}
				},
				"variables": {
					"AgencyID": {
						"type": "String",
						"defaultValue": "6631"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/InputFolder')]",
				"[concat(variables('factoryId'), '/datasets/Registration')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/datasets/FieldNotification')]",
				"[concat(variables('factoryId'), '/datasets/Dropped')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelineUsingDataFlow')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AgencyID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FamilyCode",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ChildCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChildrenStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegistrationDate",
						"type": "date"
					},
					{
						"name": "FieldNotifiedDate",
						"type": "date"
					},
					{
						"name": "DroppedDate",
						"type": "date"
					},
					{
						"name": "DroppedReasonID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DroppedReasonSubTypeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChildrenID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Birthdate",
						"type": "date"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "EventStatusID",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Children"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableOutput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "AgencyID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FamilyCode",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ChildCode",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChildrenStatusID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "RegistrationDate",
						"type": "date"
					},
					{
						"name": "FieldNotifiedDate",
						"type": "date"
					},
					{
						"name": "DroppedDate",
						"type": "date"
					},
					{
						"name": "DroppedReasonID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DroppedReasonSubTypeID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ChildrenID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Birthdate",
						"type": "date"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Child"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "OUTPUT",
						"container": "skbcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dropped')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Dropped",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "INPUT",
						"container": "skbcontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DroppedDate",
						"type": "String"
					},
					{
						"name": "ChildCode",
						"type": "String"
					},
					{
						"name": "DroppedReasonID",
						"type": "String"
					},
					{
						"name": "DroppedReasonSubTypeID",
						"type": "String"
					},
					{
						"name": "EventStatusID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelInput')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ChildData.xlsx",
						"folderPath": "INPUT",
						"container": "skbcontainer"
					},
					"firstRowAsHeader": true,
					"nullValue": "NULL"
				},
				"schema": [
					{
						"name": "AgencyID",
						"type": "String"
					},
					{
						"name": "FamilyCode",
						"type": "String"
					},
					{
						"name": "ChildCode",
						"type": "String"
					},
					{
						"name": "ChildrenStatusID",
						"type": "String"
					},
					{
						"name": "RegistrationDate",
						"type": "String"
					},
					{
						"name": "FieldNotifiedDate",
						"type": "String"
					},
					{
						"name": "DroppedDate",
						"type": "String"
					},
					{
						"name": "DroppedReasonID",
						"type": "String"
					},
					{
						"name": "DroppedReasonSubTypeID",
						"type": "String"
					},
					{
						"name": "ChildrenID",
						"type": "String"
					},
					{
						"name": "Birthdate",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "LastName",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FieldNotification')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "FieldNotification",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "INPUT",
						"container": "skbcontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/InputFolder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Registration",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "INPUT",
						"container": "skbcontainer"
					},
					"firstRowAsHeader": true,
					"nullValue": "NULL"
				},
				"schema": [
					{
						"name": "RegistrationDate",
						"type": "String"
					},
					{
						"name": "FamilyCode",
						"type": "String"
					},
					{
						"name": "ChildCode",
						"type": "String"
					},
					{
						"name": "ChildrenStatusID",
						"type": "String"
					},
					{
						"name": "Birthdate",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "EventStatusID",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Registration')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Registration",
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "INPUT",
						"container": "skbcontainer"
					},
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ExcelInput",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "AzureSqlTableOutput",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          AgencyID as string,",
						"          FamilyCode as string,",
						"          ChildCode as string,",
						"          ChildrenStatusID as string,",
						"          RegistrationDate as string,",
						"          FieldNotifiedDate as string,",
						"          DroppedDate as string,",
						"          DroppedReasonID as string,",
						"          DroppedReasonSubTypeID as string,",
						"          ChildrenID as string,",
						"          Birthdate as string,",
						"          FirstName as string,",
						"          LastName as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['/INPUT','OUTPUT']) ~> source1",
						"source1 split(year(toDate(RegistrationDate))==2012,",
						"     disjoint: true) ~> split1@(Year2012, YearOthers)",
						"split1@Year2012 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     partitionFileNames:['File2012'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"split1@YearOthers sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          AgencyID as integer,",
						"          FamilyCode as long,",
						"          ChildCode as integer,",
						"          ChildrenStatusID as integer,",
						"          RegistrationDate as date,",
						"          FieldNotifiedDate as date,",
						"          DroppedDate as date,",
						"          DroppedReasonID as integer,",
						"          DroppedReasonSubTypeID as integer,",
						"          ChildrenID as integer,",
						"          Birthdate as date,",
						"          FirstName as string,",
						"          LastName as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE [dbo].[Child];'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelInput')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableOutput')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dfScoreBoard')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ExcelScoreBoard",
								"type": "DatasetReference"
							},
							"name": "sourceScoreBoard"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlTableScoreBoard",
								"type": "DatasetReference"
							},
							"name": "sinkScoreBoard"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Column_1 as string,",
						"          Column_2 as string,",
						"          Column_3 as string,",
						"          Column_4 as string,",
						"          Column_5 as string,",
						"          Column_6 as string,",
						"          Column_7 as string,",
						"          Column_8 as string,",
						"          Column_9 as string,",
						"          Column_10 as string,",
						"          Column_11 as string,",
						"          Column_12 as string,",
						"          Column_13 as string,",
						"          Column_14 as string,",
						"          Column_15 as string,",
						"          Column_16 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     moveFiles: ['/SCOREBOARD/INPUT','SCOREBOARD/OUTPUT'],",
						"     rowUrlColumn: 'ExcelFileName') ~> sourceScoreBoard",
						"sourceScoreBoard sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          F1 as string,",
						"          F2 as string,",
						"          F3 as string,",
						"          F4 as double,",
						"          F5 as double,",
						"          F6 as double,",
						"          F7 as double,",
						"          F8 as double,",
						"          F9 as double,",
						"          F10 as double,",
						"          F11 as double,",
						"          F12 as double,",
						"          F13 as double,",
						"          F14 as double,",
						"          F15 as double,",
						"          F16 as double,",
						"          ExcelFileName as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     preSQLs:['TRUNCATE TABLE [dbo].[stagingSCOREBOARD];'],",
						"     postSQLs:['EXEC dbo.spPopulateSCOREBOARD;'],",
						"     dateFormat:'yyyy-MM-dd',",
						"     timestampFormat:'yyyy-MM-dd\\'T\\'HH:mm:ss\\'Z\\'',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          F1 = Column_1,",
						"          F2 = Column_2,",
						"          F3 = Column_3,",
						"          F4 = Column_4,",
						"          F5 = Column_5,",
						"          F6 = Column_6,",
						"          F7 = Column_7,",
						"          F8 = Column_8,",
						"          F9 = Column_9,",
						"          F10 = Column_10,",
						"          F11 = Column_11,",
						"          F12 = Column_12,",
						"          F13 = Column_13,",
						"          F14 = Column_14,",
						"          F15 = Column_15,",
						"          F16 = Column_16,",
						"          ExcelFileName",
						"     )) ~> sinkScoreBoard"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ExcelScoreBoard')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableScoreBoard')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExcelScoreBoard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "January",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "SCOREBOARD January 2023.xlsx",
						"folderPath": "SCOREBOARD/INPUT",
						"container": "skbcontainer"
					}
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableScoreBoard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "F1",
						"type": "nvarchar"
					},
					{
						"name": "F2",
						"type": "nvarchar"
					},
					{
						"name": "F3",
						"type": "nvarchar"
					},
					{
						"name": "F4",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F5",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F6",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F7",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F8",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F9",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F10",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F11",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F12",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F13",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F14",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F15",
						"type": "float",
						"precision": 15
					},
					{
						"name": "F16",
						"type": "float",
						"precision": 15
					},
					{
						"name": "ExcelFileName",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "stagingSCOREBOARD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plScoreBoard')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dfScoreBoard",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceScoreBoard": {},
									"sinkScoreBoard": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dfScoreBoard')]"
			]
		}
	]
}